/* ---- GLOBAL SETTINGS ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #c9c9c9;
    color: #ffffff;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:visited {
    color: white;
  }  

  /*---- LOGIN & SIGNUP CSS DESKTOP AND MOBILE ---- */

  .login, .signup, .forgotPassword, .resetPassword {
    display: flex;
    height: 100vh;
  }

  .loginForm, .signupForm, .forgotPasswordForm, .resetPasswordForm {
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }

  input {
    height: 30px;
    width: 200px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 7px;
  }

  #loginSubmit, #signupSubmit, #forgotPasswordSubmit, #resetPasswordSubmit {
    height: 35px;
    width: 200px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 12pt;
    color: #000000;
    background-color: #ff9100;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    border-color: #ff9100;
  }

  #loginSubmit:hover {
    background-color:#d87a00;
    border-color: #d87a00;
    transition: 0.3s ease;
    cursor: pointer;
  }

  #signupSubmit:hover {
    background-color:#d87a00;
    border-color: #d87a00;
    transition: 0.3s ease;
    cursor: pointer;
  }
  #forgotPasswordSubmit:hover {
    background-color:#d87a00;
    border-color: #d87a00;
    transition: 0.3s ease;
    cursor: pointer;
  }

  #resetPasswordSubmit:hover {
    background-color:#d87a00;
    border-color: #d87a00;
    transition: 0.3s ease;
    cursor: pointer;
  }

  .logoAndTagLine {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    font-size: 24pt;
  }

  .logoWhite {
    display: none;
  }

  .logo {
    margin-top: -120px;
    margin-bottom: -100px;
  }

  #tagLine {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  @media only screen and (max-width: 992px) {

    .logoWhite {
      display: block;
      width: 300px;
      margin-top: -100px;
    }

    .logoAndTagLine {
      display: none;
    }

    .loginForm, .signupForm, .forgotPasswordForm, .resetPasswordForm {
      width: 100vw;
    }
}

/* ---- DASHBOARD CSS DESKTOP & MOBILE ---- */

.dashboardHeader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  justify-content: space-between;
}

.dashboardLogoWhite {
  width: 120px;
}

.dashTitle {
  display: flex;
}

.dashboard {
  height: 100vh;
  background-color: #1f1f1f;
  overflow-y: hidden;

}

.logoutButton {
  background-color: #e30000;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #b30000;
  transition: 0.3s ease;
  cursor: pointer;
}

.chartContainer {
  color: #ffffff;
  background-color: #1f1f1f;
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 40px;
  border-radius: 10px;
  overflow: hidden;
}

#navButtonsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.navButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navButtons button {
  font-size: auto;
  background-color: #333;
  color: white;
  border: 2px solid #bdbdbd;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.navButtons button:hover {
  background-color: #555;
  transform: scale(1.05);
}

.dashboardFooter {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  text-align: center;
  color: #aaa;
  font-size: 0.9rem;
}

@media only screen and (max-width: 992px) {

.dashboard {
  width: 100vw;
  overflow-y: auto;
}

.dashboardHeader {
  width: 100vw;
}

.dashTitle {
  font-size: 16pt;
  text-align: center;
}

.chartContainer {
  margin: auto;
}

#navButtonsHeader, .navButtons {
  margin: auto;
  margin-top: 1rem;
}

.dashboardFooter {
  width: 100%;
  margin: auto;
  margin-top: 6rem;
}

}

@media only screen and (max-width: 768px) {

.dashboardHeader {
  background-color: #262626;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  z-index: 3;
}

.chartContainer {
  margin-top: 2rem;
}

.navButtons {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.navButtons button {
  width: 200px;
}

.dashboardFooter {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 1rem;
}
}

/* ---- NEW SESSION CSS DESKTOP & MOBILE ---- */

.newSessionPage {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #1f1f1f;
}

.goBackButton {
  background-color: #e30000;
  color: white;
  top: 15px;
  right: 15px;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
  border: none;
}

.goBackButton:hover {
  background-color: #b30000;
  transition: 0.3s ease;
  cursor: pointer;
}

.newSessionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

#sessionInput {
  font-size: 14pt;
  height: 50px;
  margin-right: 1rem;
}

#createSessionButton {
  height: 50px;
  width: 200px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 14pt;
  color: #000000;
  background-color: #ff9100;
  border-radius: 10px;
  border-color: #ff9100;
  margin-top: 2rem;
  margin-right: 1rem;
}

#createSessionButton:hover {
  background-color:#d87a00;
  border-color: #d87a00;
  transition: 0.3s ease;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {

#sessionInput {
  height: 40px;
  font-size: 10pt;
}

.newSessionHeader {
  padding-left: .5rem;
}

#newSessionTop {
  font-size: 18pt;
}

}

/* ---- DRILL SESSION CSS DESKTOP & MOBILE ---- */

.readOnlyInput {
  background-color: #555;
  color: #fff;
}

.shootingPercentField {
  background-color: #333;
  color: lightgreen;
  font-weight: bold;
}

/* ---- ALL-TIME STATS PAGE CSS DESKTOP & MOBILE ---- */

.statsPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1f1f1f;
}

.sessionItem {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #1c1c1c;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(181, 181, 181);
  transition: all 0.3s ease;
}

.sessionItem:hover {
  background-color: #1c1b01;
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer;
}

#deleteSessionItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: stretch;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: #000000;
  background-color: #fc9e23;
  margin-top: 10px;
  border-radius: 10px;
  border-color: #fc9e23;
}

#deleteSessionItem:hover {
  color: #ffffff;
  background-color:#950000;
  border-color: #950000;
  transition: 0.3s ease;
  cursor: pointer;
}

#updateSessionItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: stretch;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: #000000;
  background-color: #23c9fc;
  margin-top: 10px;
  border-radius: 10px;
  border-color: #23c9fc;
}

#updateSessionItem:hover {
  color: #ffffff;
  background-color:#007daf;
  border-color: #007daf;
  transition: 0.3s ease;
  cursor: pointer;
}

.allTimeStatsContainer {
  display: flex;
  justify-content: space-around;
}

#newSessionTop {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 720px) {
  
.sessionItem {
  display: inline-block;
  width: 30%;
}
}

@media only screen and (max-width: 720px) {

  #newSessionTop {
    font-size: 14pt;
  }

  .allTimeStatsContainer {
    display: flex;
    font-size: 11pt;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 1px solid rgb(181, 181, 181);
    transition: all 0.3s ease;
    padding-top: 10px;
  }

  .allTimeStatsContainer:hover {
    background-color: #1c1b01;
    cursor: pointer;
  }

  .shootingPercentStat {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid rgb(181, 181, 181);
    transition: all 0.3s ease;
  }

  .shootingPercentStat:hover {
    background-color: #1c1b01;
    cursor: pointer;
  }
}

/* ---- RANKINGS CSS DESKTOP & MOBILE ---- */

.rankingsPage {
  padding: 20px;
  color: white;
  text-align: center;
  height: 100vh;
  background-color: #1f1f1f;
}

.rankingTabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rankingTabs button {
  font-size: 14pt;
  padding: 10px 14px;
  background: #444;
  color: white;
  border: none;
  border-radius: 6px;
  transition: 0.3s ease;
  border: 2px solid #bdbdbd;
}

.rankingTabs button:hover {
  background-color: #00142d;
  cursor: pointer;
  transform: scale(1.05);
}

.rankingTabs .activeTab {
  color: #ffffff;
  background: #007daf;
}

.rankingList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 20px;
}

.rankingItem {
  display: flex;
  justify-content: center;
  font-size: 18pt;
  width: 100vw;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

@media only screen and (max-width: 720px) {

.rankingTabs button {
  font-size: 8pt;
}

}

.errorMessage {
  margin-top: -50px;
  text-align: center;
}
